@page "/"

<div class="d-flex align-items-center fluid-container main" style="height: 100%">
	<div style="width: 100%">
		<div class="d-flex justify-content-center">
			<h1>simp<span style="font-style: italic;"><b>list</b></span></h1>
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<h5><span class="align-middle text-center">For <span style="font-style: italic;"><b>productive</b></span> individuals</span></h5>
		</div>
		<div class="d-flex justify-content-center">
			<a href="/todo"><button class="start" title="Start work"><b>+</b></button></a>
		</div>
	</div>
</div>
